
link(
  rel="stylesheet"
  href="assets/css/vendor.css?r=" + rand
)

script(
  src="vendors/modernizr-2.8.3-respond-1.4.2.min.js"
)

script(
  src="lib/angular/angular.min.js"
)

script(
  src="lib/angular-route/angular-route.min.js"
)

script(
  src="js/app.min.js"
)
