header.header
  .wrapper.p-half-v
    .grid.grid-negative
      .grid__item.one-half
        .logo
          img.logo-img(
            alt="Showapp"
            src="assets/img/logo.png"
          )
          h1.logo-title
            | {{ headerCtrl.title }}
      .grid__item.one-half
        .hamburger-button.mid--hidden.right.m-half-t(
          ng-click="headerCtrl.toggleMenu()"
          ng-class="{ 'hamburger-button__open' : headerCtrl.isOpen }"
        )
          .hamburger-button__bar
          .hamburger-button__bar
          .hamburger-button__bar
          .hamburger-button__bar
        nav.menu(ng-class="{ 'menu__open' : headerCtrl.isOpen }")
          a.menu__item.anm(
            ng-repeat="item in headerCtrl.menu"
            href="#{{ item.url }}"
            class="{{ item.class }}"
            ng-click="headerCtrl.activeMenuItem($index); headerCtrl.closeMenu();"
          )
            | {{ item.name }}
          
  show-app-filter
show-app-filter-dropdown
