header.header(ng-controller="HeaderController as headerCtrl")
  .wrapper.p-half-v
    .grid.grid-negative
      .grid__item.one-half
        .logo
          img.logo-img(
            alt="Showapp"
            src="assets/img/logo.png"
          )
          h1.logo-title
            | {{ headerCtrl.title }}
      .grid__item.one-half
        .hamburger-button.mid--hidden.right.m-half-t#js-hamburger
          .hamburger-button__bar
          .hamburger-button__bar
          .hamburger-button__bar
          .hamburger-button__bar
        nav.menu
          a.menu__item.anm(
            ng-repeat="item in headerCtrl.menu"
            href="#{{ item.url }}"
            class="{{ item.class }}"
            ng-click="headerCtrl.activeMenuItem($index)"
          )
            | {{ item.name }}
          
  show-app-filter
show-app-filter-dropdown
