article.show.clear
  .grid.grid-negative
    .grid__item.two-sixths.show__image
      img.show__image-img(
        alt="{{ showCardCtrl.setTitle(showCardCtrl.show) }}"
        src="{{ showCardCtrl.setImage(showCardCtrl.show.poster_path) }}"
      )
    .grid__item.four-sixths.show__desc
      h3.show__desc__title(
        title="{{ showCardCtrl.setTitle(showCardCtrl.show) }}"
      )
        | {{ showCardCtrl.setTitle(showCardCtrl.show) }}
      .show__desc__qualification
        | {{ ::showCardCtrl.show.vote_average }}

      .show__desc__info
        .show__desc__info-data
          | 2h 16min
        .show__desc__info-data
          | {{ ::showCardCtrl.show.release_date | date : format : timezone }}
          | ({{ ::showCardCtrl.show.original_language }})
        .show__desc__info-data.ellipsis-text(
          title="{{ ::showCardCtrl.getGenre(showCardCtrl.show.genre_ids) }}"
        )
          | {{ ::showCardCtrl.getGenre(showCardCtrl.show.genre_ids) }}

      p.show__desc__paragraph
        | {{ ::showCardCtrl.show.overview | limitTo : showCardCtrl.limit }}

      .grid.grid-negative.show__desc__controls.overflow-visible
        .grid__item.one-half
          a.button.button-primary.show__desc__controls-trailer.anm.js-modal(
            data-modal="modal"
            ng-click="showCardCtrl.openModal()"
          )
            | Ver Trailer
        .grid__item.one-half
          a.show__desc__controls-like(
            ng-click="showCardCtrl.addFavorite(showCardCtrl.show)"
            ng-class="{ false: 'show__desc__controls-like--like-it', true: 'anm anm-pulse' }[!showCardCtrl.addedFav(showCardCtrl.show)]"
          )
            .ellipsis-text
              | Agregar a favoritos
            i.fa.fa-heart.show__desc__controls-like-heart
show-app-modal(
  show="showCardCtrl.show"
  open-modal="showCardCtrl.modal"
)
